<div class="left-container">
    <div class="left-button">
    <%= button_to "Leave", adminhome_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Holiday", holidays_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Employee Management", employeemanagement_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Designation Management", designationmanagement_path, method: :get,:class => "menu-buttons" %>
    </div>
</div>