<div class="left-container">
    <div class="left-button">
    <%= button_to "Dashboard", landing_path, method: :get,:class => "menu-buttons" %>
    </div>
    <div class="left-button">
    <%= button_to "Leave", leave_path, method: :get,:class => "menu-buttons" %>
    </div>
    <button class="left-button">
      Attendance
    </button>
    <button class="left-button">
      Settings
    </button>
</div>